<!--begin::Aside-->
<div *ngIf="connecte" id="kt_aside" class="aside pb-5 pt-5 pt-lg-0 bg-light" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'80px', '300px': '100px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
  <!--begin::Brand-->
  <div class="aside-logo py-8 bg-light" id="kt_aside_logo">
    <!--begin::Logo-->
    <a routerLink="/" class="d-flex align-items-center">
      <img alt="Logo" src="../../assets/media/mqash-logo.png" class="h-45px logo"/>
    </a>
    <!--end::Logo-->
  </div>
  <!--end::Brand-->
  <!--begin::Aside menu-->
  <div class="aside-menu flex-column-fluid" id="kt_aside_menu">
    <!--begin::Aside Menu-->
    <div class="hover-scroll-overlay-y my-2 my-lg-5 pe-lg-n1" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu" data-kt-scroll-offset="5px">
      <!--begin::Menu-->
      <div class="menu menu-column menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold" id="#kt_aside_menu" data-kt-menu="true">
        <div  style="color:#3d7cb2 ; " class="menu-item py-2">
          <a class="menu-link active menu-center bg-light"  routerLink="/" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
              <i style="color:#3d7cb2" class="bi bi-bank fs-2"></i>
            </span>
            <span style="color:#3d7cb2" class="menu-title">Dashboard</span>
          </a>
        </div>
        <div data-kt-menu-trigger="click" data-kt-menu-placement="right-start" class="menu-item py-2 ">
          <span class="menu-link active menu-center bg-light" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
              <i style="color:#3d7cb2" class="bi bi-people fs-2"></i>
            </span>
            <span style="color:#3d7cb2" class="menu-title">Utilisateurs</span>
          </span>
          <div class="menu-sub menu-sub-dropdown w-225px px-1 py-4">
            <div class="menu-item">
              <div class="menu-content">
                <span style="color:#3d7cb2" class="menu-section fs-5 fw-bolder ps-1 py-1">Utilisateur</span>
              </div>
            </div>
            <div class="menu-item">
              <a class="menu-link" routerLink="/subAgent">
                <span class="menu-bullet">
                  <span style="color:#3d7cb2" class="bullet bullet-dot"></span>
                </span>
                <span style="color:#3d7cb2" class="menu-title">Sous agents</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" routerLink="/pdv">
                <span class="menu-bullet">
                  <span style="color:#3d7cb2" class="bullet bullet-dot"></span>
                </span>
                <span style="color:#3d7cb2" class="menu-title">Points de vente/Agences</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" routerLink="/operator">
                <span class="menu-bullet">
                  <span style="color:#3d7cb2" class="bullet bullet-dot"></span>
                </span>
                <span style="color:#3d7cb2" class="menu-title">Opérateurs</span>
              </a>
            </div>
          </div>
        </div>
        <div data-kt-menu-trigger="click" data-kt-menu-placement="right-start" class="menu-item py-2 ">
          <span class="menu-link active menu-center bg-light" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
              <i style="color:#3d7cb2" class="bi bi-arrow-left-right fs-2"></i>
            </span>
            <span style="color:#3d7cb2" class="menu-title">Transaction</span>
          </span>
          <div class="menu-sub menu-sub-dropdown w-225px px-1 py-4">
            <div class="menu-item">
              <div class="menu-content">
                <span style="color:#3d7cb2" class="menu-section fs-5 fw-bolder ps-1 py-1">transactions</span>
              </div>
            </div>
            <div class="menu-item">
              <a class="menu-link" routerLink="/emissions">
                <span class="menu-bullet">
                  <span style="color:#3d7cb2" class="bullet bullet-dot"></span>
                </span>
                <span style="color:#3d7cb2" class="menu-title">Emissions</span>
              </a>
            </div>
            <div class="menu-item">
              <a class="menu-link" routerLink="/paiements">
                <span class="menu-bullet">
                  <span style="color:#3d7cb2" class="bullet bullet-dot"></span>
                </span>
                <span style="color:#3d7cb2" class="menu-title">Paiements</span>
              </a>
            </div>
          </div>
        </div>
        
        <div  class="menu-item py-2">
          <a class="menu-link active menu-center bg-light" routerLink="recclamations" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
              <i style="color:#3d7cb2" class="bi bi-bootstrap-reboot fs-2"></i>
            </span>
            <span style="color:#3d7cb2" class="menu-title">Recclamations</span>
          </a>
        </div>

        <div  class="menu-item py-2">
          <a class="menu-link active menu-center bg-light" routerLink="compensation" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
              <i style="color:#3d7cb2" class="bi bi-cash fs-2"></i>
            </span>
            <span style="color:#3d7cb2" class="menu-title">Compensations</span>
          </a>
        </div>

        <div  class="menu-item py-2">
          <a class="menu-link active menu-center bg-light" routerLink="commission" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
              <i  style="color:#3d7cb2" class="bi bi-wallet2 fs-2"></i>
            </span>
            <span style="color:#3d7cb2" class="menu-title">Commissions</span>
          </a>
        </div>
        <div  class="menu-item py-2">
          <a class="menu-link active menu-center bg-light" routerLink="history" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
              <i style="color:#3d7cb2" class="bi bi-archive fs-2"></i>
            </span>
            <span style="color:#3d7cb2" class="menu-title">Historiques</span>
          </a>
        </div>
        <div  class="menu-item py-2">
          <a class="menu-link active menu-center bg-light" routerLink="/account" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
            <span class="menu-icon me-0">
              <i style="color:#3d7cb2" class="bi bi-gear fs-2"></i>
            </span>
            <span style="color:#3d7cb2" class="menu-title">Paramètre</span>
          </a>
        </div>
      </div>
      <!--end::Menu-->
    </div>
    <!--end::Aside Menu-->
  </div>
  <!--end::Aside menu-->
</div>
<!--end::Aside-->
