<div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-in -->
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(assets/media/illustrations/sketchy-1/14.png">
        <!--begin::Content-->
        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <!--begin::Logo-->
            <a href="../../demo8/dist/index.html" class="mb-12">
                <img alt="Logo" src="assets/media/logos/logo-1.svg" class="h-40px" />
            </a>
            <!--end::Logo-->
            <!--begin::Wrapper-->
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">



                <form *ngIf="!firstConnexion" novalidate class="form w-100" [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="kt_sign_in_form">
                    <!--begin::Heading-->
                    <div class="text-center mb-10">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-3">Connexion</h1>
                        <!--end::Title-->
                    </div>
                    <!--begin::Heading-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <!--begin::Label-->
                        <label class="form-label fs-6 fw-bolder text-dark">Username</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input formControlName="email" required [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control form-control-lg form-control-solid" type="text" autocomplete="off" />
                        <!--end::Input-->
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Username is required</div>
                        </div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-stack mb-2">
                            <!--begin::Label-->
                            <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
                            <!--end::Label-->
                            <!--begin::Link-->
                            <a routerLink="/passwordReset" class="link-primary fs-6 fw-bolder">Mot de passe oublié ?</a>
                            <!--end::Link-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Input-->
                        <input class="form-control form-control-lg form-control-solid" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" autocomplete="off" />

                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->

                    <div class="text-center">
                        <!--begin::Submit button-->
                        <button type="submit" [disabled]="loading" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            <span class="indicator-label">Connexion</span>
                            <span class="indicator-progress">Patienter...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->

                <!--begin::Form-->
                <form class="form w-100" *ngIf="firstConnexion" [formGroup]="firstForm" (ngSubmit)="changePassword()" id="kt_sign_in_form">
                    <!--begin::Heading-->
                    <div class="text-center mb-10">
                        <!--begin::Title-->
                        <h1 class="text-dark mb-3">Modifications de mot de passe</h1>
                        <!--end::Title-->
                    </div>
                    <!--begin::Heading-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-stack mb-2">
                            <!--begin::Label-->
                            <label class="form-label fw-bolder text-dark fs-6 mb-0">Nouveau mot de passe </label>
                            <!--end::Label-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Input-->
                        <input class="form-control form-control-lg form-control-solid" [(ngModel)]="myPass1" minlength="5" maxlength="50" required type="password" formControlName="newPassword" autocomplete="off" />
                        <!--end::Input-->
                        <ng9-password-strength-bar [passwordToCheck]="myPass1" [barLabel]="barLabel" [customThresholds]="thresholds" [barColors]="myColors">loginForm
                        </ng9-password-strength-bar>
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Mot de passe requis</div>
                        </div>

                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="fv-row mb-10">
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-stack mb-2">
                            <!--begin::Label-->
                            <label class="form-label fw-bolder text-dark fs-6 mb-0">Retapez le mot de passe</label>
                            <!--end::Label-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Input-->
                        <input class="form-control form-control-lg form-control-solid" [(ngModel)]="myPass2" minlength="5" maxlength="50" required type="password" formControlName="reNewpassword" autocomplete="off" />
                        <!--end::Input-->
                        <ng9-password-strength-bar [passwordToCheck]="myPass2" [barLabel]="barLabel" [customThresholds]="thresholds" [barColors]="myColors">loginForm
                        </ng9-password-strength-bar>
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Mot de passe requis</div>
                        </div>

                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->

                    <div class="text-center">
                        <!--begin::Submit button-->
                        <button type="submit" [disabled]="loading" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            <span class="indicator-label">Réinitialiser </span>
                            <span class="indicator-progress">Patienter...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </div>
                    <!--end::Actions-->
                </form>

            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
        <!--begin::Footer-->
        <div class="d-flex flex-center flex-column-auto p-10">
            <!--begin::Links-->
            <div class="d-flex align-items-center fw-bold fs-6">
                <a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
                <a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
                <a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">Contact Us</a>
            </div>
            <!--end::Links-->
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Authentication - Sign-in-->
</div>