<!--begin::Toolbar-->
<div class="toolbar py-2" id="kt_toolbar" *ngIf="connecte">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
        <!--begin::Page title-->
        <div class="flex-grow-1 flex-shrink-0 me-5">
            <!--begin::Action group-->
            <div class="d-flex align-items-center flex-wrap">
                <!--begin::Wrapper-->

                <!--end::Wrapper-->
            </div>
            <!--end::Action group-->
        </div>
        <!--end::Page title-->
        <!--begin::Action group-->
        <div class="d-flex align-items-center flex-wrap">

            <div class="card-toolbar">
                <!--begin::Toolbar-->
                <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">


                    <!--end::Menu 1-->
                    <!--end::Filter-->
                </div>
                <!--end::Toolbar-->
            </div>
        </div>
        <!--end::Action group-->
    </div>
    <!--end::Container-->
</div>


<!--end::Toolbar-->