<!--begin::Main-->

<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">

        <app-left-sidebar *ngIf="currentUser"></app-left-sidebar>
        <!--begin::Wrapper-->
        <div [ngClass]="currentUser ? 'wrapper d-flex flex-column flex-row-fluid' : 'd-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed'" id="kt_wrapper">
            <!--begin::Header-->
            <app-header *ngIf="currentUser"></app-header>
            <!--end::Header-->
            <!-- <app-toolbar *ngIf="currentUser"></app-toolbar> -->
            <router-outlet></router-outlet>
            <app-footer *ngIf="currentUser"></app-footer>
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
    <style>
        .bg-light {
            background-color: #fff
        }
    </style>
</div>
<!--end::Root-->