<div class="grid p-fluid">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
</div>
<br><br><br>


<form ngForm #assignmentForm class="form" (submit)="onSubmit(); assignmentForm.reset()">
    <p-card header="Ajouter un Assignment" class="d-flex justify-content-center">
        <div class=" grid p-fluid">
            <div class="col-12 md:col-6 lg:col-4">
                <span>Nom de L'assignment</span>
                <input type="text" pInputText [(ngModel)]="nomAssignment" name="nom">
            </div>

            <div class="col-12 md:col-6 lg:col-4">
                <span>Date de rendu</span>
                <p-calendar [(ngModel)]="dateDeRenduAssignment" name="date" [disabledDates]="invalidDates" [disabledDays]="[0,6]" [readonlyInput]="true" inputId="disabledays"></p-calendar>
            </div>
            <br> <br>
            <div class="col-12 md:col-6 lg:col-4">

                <button pButton pRipple type="submit" label="valider"></button>
            </div>
        </div>
    </p-card>
</form>